@import "../../node_modules/bootstrap/scss/bootstrap";
$font-stack: "Open Sans", sans-serif;
$bg-color:#ffffd9;

header {
  h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    color: #00539f;
    animation: fadeInTitle 3s ease-in;
  }

  h2 {
    margin: 0;
    padding: 20px 0;

    &:nth-child(1){ background-color: $bg-color; }
    &:nth-child(2){ background-color: white; }

    a {
      display: block;
      text-align: center;
      &:hover { text-decoration: none; }
    }
  }
}

#contents {
  background-color: $bg-color;

  > section .skill {
    padding: 10px;
    background: #d9ffff;
    &:nth-child(even) { background: #00cccc; }

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3, p { text-align: center; }
  }

  aside {
    padding: 10px 30px;

    section { margin: 0% 10px; }
  }
}

footer {
  background-color: $bg-color;
  margin-right: -15px;
  margin-left: -15px;
  p {
    text-align: center;
    padding: 20px;
  }
}

@include media-breakpoint-down(sm) {
  header h1 { font-size: 2.2em; }
}
@include media-breakpoint-down(md) {
  #contents {
    > section {
      margin: 0;
    }

    aside section{
      text-align: center;
      margin: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  #contents aside {
    padding: 10px 0px;
  }
}

@keyframes fadeInTitle {
  0% { opacity: 0; }
  100% {opacity: 1; }
}
