@import "../../node_modules/bootstrap/scss/bootstrap";
$font-stack: "Open Sans", sans-serif;
$bg-color:#ffffd9;

body { font-family: $font-stack; }
.main { background-color: $bg-color; }

@include media-breakpoint-down(sm) {
  .header__title { font-size: 2.2em; }
}
@include media-breakpoint-down(md) {
  .skill { margin: 0; }

  .side-bar {
    margin: 0;
    text-align: center;
  }
}

@include media-breakpoint-down(lg) {
  .side-bar { padding: 10px 0px; }
}

@keyframes fadeInTitle {
  0% { opacity: 0; }
  100% {opacity: 1; }
}
