{
  "env": {
    "test": {
      "presets": [[
        "@babel/preset-env",
        {
          "targets": { "node": "current" }
        }
      ], "@babel/preset-react"],
      "plugins": [
        ["transform-es2015-modules-commonjs"],
        ["@babel/plugin-proposal-object-rest-spread"],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
      ]
    }
  }
}